/* Box hiển thị Icon hình vuông bo góc */
.icon-box {
    width: 35px;
    height: 35px;
    border-radius: 8px;
    /* Bo góc nhẹ giống App Mobile */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    color: #fff;
    /* Icon luôn màu trắng */
    transition: background-color 0.3s ease;
}

/* Tùy chỉnh input color cho đẹp hơn */
.form-control-color {
    max-width: 100%;
    border: 1px solid #ced4da;
}
