/* Màu Badge trạng thái */
.badge-status-Open {
    background-color: #ffe5e5;
    color: #e74a3b;
    border: 1px solid #e74a3b;
}

.badge-status-Pending {
    background-color: #fff3cd;
    color: #f6c23e;
    border: 1px solid #f6c23e;
}

.badge-status-Resolved {
    background-color: #e6fffa;
    color: #1cc88a;
    border: 1px solid #1cc88a;
}

/* Modal style */
.modal-header {
    border-bottom: 1px solid #eee;
}

.form-select:focus, .form-control:focus {
    box-shadow: none;
    border-color: #3b7ddd;
}
